body {
    font-family: 'Poppins', sans-serif;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #FFBF00;
}

.summary {
    font-size: 16px;
    padding-left: 4%;
    padding-right: 5%;
}

p {
    margin-bottom: 20px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: larger;
    padding: 6px;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 20px;
}

nav {
    text-overflow: ellipsis;
    box-sizing: border-box;
    color: #FFBF00;
    font-weight: 700;
    font-size: 15px;
    white-space: nowrap;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    max-width: 148px;
    padding: 10px 16px;
}

ul li a {
    color:#FFBF00;
}

section {
    font-size: 19px;
    line-height: 22px;
}

.frontpage {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#photo {
    border: 15px solid #D7DAD8;
}

.about {
    background: linear-gradient(90deg, #ffffff, #ffffff, #ebe9eb);

    @media (min-width: 50em) {
        display: table-cell;
        vertical-align: middle;
    }

}

.container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-flow: row;
}

.containerspecial {
    background: linear-gradient(120deg, black, #666565);
    padding: 20px 30px;
    flex-flow: column;
    color: white;
}

#skillcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top:30px;
}

.skill {
    padding: 15px;
    display: flex;
    flex-flow: column;
}

.skillicon {
    align-self: center;
}

.skillicon img {
    border-radius: 50%;
    width: 85px;
    height: 85px;
}

.skilltitle {
    margin-top: 10px;
}

.yearcontainer {
    margin-bottom: 10px;
}

.yearcontainer li {
    padding: 10px;
    max-width: 800px;
}

.year {
    padding: 10px 0px;
    color: #FFBF00;
    font-size: x-large;
    text-decoration: underline #38B6FF 3px;
    text-underline-offset: 5px;
}

.yearcontainer span {
    font-size: 13px;
    color: #ebe7e7;
    font-style: italic;
}

.reachout
{   
    margin-top: 130px;
    margin-left: 30px;
    margin-bottom: 100px; 
    background: linear-gradient(180deg, #ffffff, #ffffff, #ebe9eb); 
    text-decoration: underline;
}
.loader {
    display: flex;
}

.loader>div {
    width: 28px;
    height: 28px;
    margin: 15px;
    margin-bottom: 25px;
    background: #FFBF00;
    border-radius: 100%;
    animation: scaleUpDown 1.2s ease-in-out infinite;
}

.loader .dot1 {
    animation-delay: 0.3s;
}

.loader .dot2 {
    animation-delay: 1.6s;
}

.loader .dot3 {
    animation-delay: 2.9s;
}

@keyframes scaleUpDown {
    0% {
        transform: scale(1)
    }

    30% {
        transform: scale(.8)
    }

    60% {
        transform: scale(1)
    }

    100% {
        transform: scale(1)
    }
}
